.adminHero-section {
    margin: 100px 0;
    .adminHero-section__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        .adminHero__title {
            h2 {
                font-family: Poppins;
                font-size: 36px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0.47999998927116394px;
                color: #212529;
                margin-bottom: 23px;
            }
            p {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 400;
                line-height: 24.5px;
                letter-spacing: 0.47999998927116394px;
                color: #7A7A7A;
                margin-bottom: 27px;
            }
            p:first-child {
                max-width: 622px;
            }
            p:nth-child(2) {
                max-width: 585px;
            } 
            p:last-child {
                max-width: 628px;
            }
        }
    }
}